# Environment
.venv/
__pycache__/
*.pyc

# Secrets / tokens
.env
.spotipyoauthcache

# Runtime logs
kept.csv

# System files
.DS_Store

#Unwanted files
kworb_vs_liked_old.py
liked_alltime_kworb.csv
main.py
not_liked_all_time.csv
not_liked_top.csv
top_all_time_vs_liked.py
*.csv
!not_liked_alltime_kworb.csv
!decisions.csv